body{
    background-image: url(https://images.unsplash.com/photo-1617957796340-9b8cefedd812?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);
    background-size: auto;
    background-repeat: no-repeat;
    }
    
    .navbar{
    display: flex;
    justify-content: right;
    
    }
    
    .column{
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }